<%= simple_form_for @rss_feed, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>
  <%= f.input :feed_url %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rss_feeds_path, :class => 'btn' %>
  </div>
<% end %>
