<%- model_class = RssFeed -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<table id="list_feeds" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Feed URL</th>
      <th>Title</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rss_feeds.each do |rss_feed| %>
      <tr>
        <td><%= rss_feed.name %></td>
        <td><%= link_to rss_feed.feed_url, rss_feed_path(rss_feed) %></td>
        <td><span id="<%= Digest::MD5.hexdigest(rss_feed.feed_url) %>">Loading...</span></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rss_feed_path(rss_feed), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rss_feed_path(rss_feed),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rss_feed_path,
            :class => 'btn btn-primary' %>