<!DOCTYPE html>
<html>
<head>
  <title>FeedReader</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<div class="container">
  <div class="row">
    <% if @admin %>
      <%= render partial: 'layouts/admin' %>
    <% else %>
      <%= render partial: 'layouts/home' %>
    <% end %>
    <div class="span11">
      <% flash.each do |name, msg| %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
